body {
    margin: 1rem;
}

html {
    font-size: 100%; /*16px*/
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-hight-md);
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-hight-sm);
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-md);
}

h5 {
    font-size: var(--font-size-sm);
}

small {
    font-size: var(--font-size-xs);
}

section {
    margin: 2rem 0;
}
