button, input[type=submit] {
    padding: var(--size-md) var(--size-lg);
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
}


/* bem */

.button {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    border-color: var(--color-primary);
}
.button:hover {
    background-color: var(--color-primary-tint);
}
.button:active {
    background-color: var(--color-primary-shade);
}


.button--warning {
    background-color: var(--color-warning);
    color: var(--color-warning-contrast);
    border-color: var(--color-warning);
}
.button--warning:hover {
    background-color: var(--color-warning-tint);
}
.button--warning:active {
    background-color: var(--color-warning-shade);
}


.button--danger {
    background-color: var(--color-danger);
    color: var(--color-danger-contrast);
    border-color: var(--color-danger);
}
.button--danger:hover {
    background-color: var(--color-danger-tint);
}
.button--danger:active {
    background-color: var(--color-danger-shade);
}



label, input {
    display: block;
    margin: var(--size-lg) 0;
}

input {
    padding: var(--size-md) var(--size-lg);
    background-color: var(--color-light);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-light-contrast);
}
