:root {
    --font-weight:   500;

    --font-family:   sans-serif;

    --font-size-xs:  0.8rem;
    --font-size-sm:  1.25rem;
    --font-size-md:  1.563rem;
    --font-size-lg:  1.953rem;
    --font-size-xl:  2.441rem;
    --font-size-xxl: 3.052rem;

    --line-hight-sm: 1.3;
    --line-hight-md: 1.75;
}