:root {
    --size-xs: 0.1rem;
    --size-sm: 0.3rem;
    --size-md: 0.6rem;
    --size-lg: 0.9rem;
    --size-xl: 1.0rem;

    --border-radius-sm: 0.5rem;
    --border-radius-md: 1.0rem;
    --border-radius-lg: 1.5rem;

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}